/* body{
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    display: flex
} */

body{
    background-color: antiquewhite;
}
#page{
     background-color: #6c757d;
     width: 90%;
     border-radius: 5px;
    text-align: center;
    align-items: center;
     display: block;
     margin:auto;
     
}
