/* body{
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    display: flex
} */

body{
    /* background-color: antiquewhite; */
    background-color:#e5e7eb ;
    color: #e5e7eb ;
    
}
#page{
     background-color:#0f172a;
       /* width: 800px !important; */
       max-width: 900px;
     border-radius: 5px;
     justify-content: center;
    text-align: center;
    font-family:Montserrat, Arial, "sans-serif";
    /* background: fixed; */
    padding: 0;
    margin: 0 auto;
    
     
}
h1,h2{
    padding-top: 30px;
}

img{
    height: 13rem;
    margin-right: 80px;
    /* border-radius: 50%; */
    /* clip-path: circle(); */
    border-radius: 50%;
    height: 180px;
    width: 175px;
    border: 3px solid lightslategray;
    outline: 4px solid lightslategray;
    /* outline-offset: 5px; */
   
}

#photo{
    display: flex;
    display: inline-flex;
}

.first{
    margin:10px;
    justify-content: left;
    justify-items: left;
    /* font-family: Arial, Helvetica, sans-serif; */
}

button{
    background-color: antiquewhite;
    border:0;
    border-radius: 5px;
    padding: 10px;
    color: #0f172a;
}
#info{
   
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.second{
    justify-content: left;
    justify-items: left;
    margin-left: 30px;
    
}
#facebook{
    color: #1877F2;
}
#insta{
     color: #E1306C;
}
#github{
    color: #e5e7eb;
}
#linkden{
    color: #e5e7eb;
}
.second a:hover{
    transform: scale(1.2);
    transition: 0.3s;
    display:flex ;
    justify-items: center;
    justify-content: center;
}
.second p{
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


