
body{  
    background-color:#e5e7eb ;
    color: #e5e7eb ;
    width: 100%;
    height: 100%;
   
}
nav{
    width: 100%;
    height: 100%;
    text-align: right;
}
#parent{
     width: 100%;
    height: 100%;
     display: flex; 
    justify-content: center;
    text-align: center; 
}
#page{
     background-color:#0f172a;
       width: 900px;
       /* width: 100vw; */
     border-radius: 5px;
     margin: 10px;
     /* align-self: center;
     justify-self: center; */
    font-family:Montserrat, Arial, "sans-serif";     
}
h1{
    padding-top: 30px;
     
}

img{
    height: 13rem;
    margin-right: 80px;
    border-radius: 50%;
    height: 180px;
    width: 175px;
    border: 3px solid lightslategray;
    outline: 4px solid lightslategray;
}
#photo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} 

.first{
    margin:10px;
    justify-items: left;
}
button{
    background-color: antiquewhite;
    border:0;
  
    border-radius: 5px;
    padding: 2px;
    color: #0f172a;
}
#info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}

    

#facebook{
    color: #1877F2;
}
#insta{
     color: #E1306C;
}
#github{
    color: #e5e7eb;
}
#linkden{
    color: #e5e7eb;
}
.second a:hover{
    transform: scale(1.2);
    transition: 0.3s;
    display:flex ;
    justify-items: center;
    justify-content: center;
}
.second p{
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


