*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #000000;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.nav1{

    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-weight: 100;
}
.nav1 h6{
    font-size: 17px;
    width: 50px;
     font-weight: 100;
}
.nav2{

    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
}
.nav2 h4{
    font-size: 17px;
     font-weight: 100;
}
.nav1 img{
    height: 50px;
}
.nav2 h5{
    display: none
}
@media (max-width:550px) {
    .nav2 h4{
        display: none;
    }
    .nav1 img{
        height: 35px;
    }
    .nav1 h6{
        font-size: 11px;
    }
    .nav2 h5{
        display: block;
        font-size: 13px;
        
    }
}

